.team {
  background-color: var(--secondary-bg-color);

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
  &__elements {
    padding: 30px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  &__soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    &-link {
      fill: var(--icon-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: var(--accent-color);
        fill: var(--white);
      }
      &--white {
        background-color: var(--white);
      }
    }
  }
}
