:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --white: #ffffff;
  --black: #000000;
}
$headerLineBorder: #ececec;
$BtnColorHover: #188ce8;
$cardBorder: #eeeeee;
